$body-bg: #f8fafc;
$blue: #32C5D2;
$green-light: #3FD5C0;
$green: #20C868;
$green-dark: #33A494;
$blue-dark: #023D7F;
$font-primary: 'Spicy Rice';
$font-secondary: 'Roboto';

$primary: $blue;
$secondary: $green-light;
$success: $blue-dark;
$info: $green;
$light: $green-dark;

$font-family-sans-serif: $font-secondary, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

